<ul>
  <li>
    <div class="videobox">
      <a target="_blank" href="https://www.youtube.com/watch?v=6b5AaRW5110">
        <img src="https://i.ytimg.com/vi/6b5AaRW5110/mqdefault.jpg"></a>
      <p>Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</p>
    </div>
  </li>

  <li>
    <div class="videobox">
      <a target="_blank" href="https://www.youtube.com/watch?v=6b5AaRW5110">
        <img src="https://i.ytimg.com/vi/6b5AaRW5110/mqdefault.jpg"></a>
      <p>Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</p>
    </div>
  </li>

  <li>
    <div class="videobox">
      <a target="_blank" href="https://www.youtube.com/watch?v=6b5AaRW5110">
        <img src="https://i.ytimg.com/vi/6b5AaRW5110/mqdefault.jpg"></a>
      <p>Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</p>
    </div>
  </li>

  <li>
    <div class="videobox">
      <a target="_blank" href="https://www.youtube.com/watch?v=6b5AaRW5110">
        <img src="https://i.ytimg.com/vi/6b5AaRW5110/mqdefault.jpg"></a>
      <p>Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</p>
    </div>
  </li>
</ul>
